// COLORS
$color-primary: #0084A4;
$color-secondary-primary: #21a0b3;
$color-third-primary: #145f6b;
$text-primary-color: #fff;

$color-primary-light: #707070;
$color-primary-dark: #343434;

$color-secondary-light: #C4C4C4;
$color-secondary-dark: #686c6f;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;

// FONT
$font: 'UEFA-EURO-2020';
$default-font-size: 1.6rem;
$smaller-font-size: 1rem;

// CONTAINER WIDTH
$default-max-width: 1000px;

// CART DEFAULT SIZE
$default-cart-width: 177px;
$default-cart-height: 118px;