.home {
  background: $color-secondary-primary;
  overflow: auto;
  height: 100vh;
  width: 100vw;

  &__credits {
    opacity: .5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    @include respond(phone) {
      font-size: 13px;
    }
    @include respond(small-phone) {
      font-size: 11px;
    }
  }
}
