.navbar {
  max-width: $default-max-width;
  height: $navbar-height;
  border-radius: $default-border-radius;
  margin: 10px auto;
  background: $color-layout-background;
  color: $color-third-primary;

  display: flex;
  align-items: center;
  justify-content: space-around;

  @include respond(tab-land) {
    margin: 10px;
  }

  &__logo {
    height: 75%;
    @include respond(tab-port) {
      height: 60%;
    }
    @include respond(small-phone) {
      height: 50%;
    }
    @include respond(very-slim-phone) {
      height: 40%;
    }
  }

  &__search {
    width: 50%;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;
    color: $color-primary;
    position: relative;

    @include respond(tab-port) {
      font-size: 30px;
    }
    @include respond(small-phone) {
      font-size: 20px;
    }
    @include respond(very-slim-phone) {
      font-size: 15px;
    }
  }

  &__input {
    height: 52px;
    border-radius: $default-border-radius;
    font-size: 22px;
    padding-left: 10%;
    background: transparent;
    border: 3px solid $color-primary;
    color: $color-primary;
    outline: none;
    position: relative;

    &:focus {
      border: 3px solid $color-white;
    }
    @include respond(tab-port) {
      font-size: 15px;
    }
    @include respond(small-phone) {
      height: 40px;
      font-size: 12px;
    }
    @include respond(very-slim-phone) {
      height: 30px;
      font-size: 9px;
    }
  }

  &__label {
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__delete {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translate(300%, 75%);

    @include respond(tab-port) {
      transform: translate(250%, 75%);
      font-size: 30px;
    }
    @include respond(small-phone) {
      transform: translate(250%, 75%);
      font-size: 23px;
    }
    @include respond(very-slim-phone) {
      transform: translate(250%, 75%);
      font-size: 19px;
    }
  }
}
