.single-team-container {
  background: $color-secondary-primary;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-team-section {
  width: $default-max-width;
  margin: 10px;
  // height: 80%;
  padding: 5px;

  @include respond(phone) {
    // height: 90%;
  }

  @include respond(small-phone) {
    // height: 98%;
  }

  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  color: $color-primary;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond(tab-land) {
    margin: 10px;
  }
}

.single-team-btn {
  position: absolute;
  top: 0;
  left: 0;

  padding: 10px;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 10px;
  border: 3px solid $color-primary;
  background: transparent;
  color: $color-primary;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.1);
    background: $color-primary;
    color: $text-primary-color;
    border: 3px solid $color-white;
    @include respond(phone) {
      border: 1px solid $color-white;
      transform: scale(1.05);
      // border: none;
    }
  }

  @include respond(tab-port) {
    font-size: 17px;
  }

  @include respond(phone) {
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
    border: none;
  }

  @include respond(small-phone) {
    font-size: 14px;
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
    border: none;
  }
  @include respond(very-slim-phone) {
    font-size: 12px;
  }
}

.subnav {
  // border: 1px solid black;
  // height: 500px;
  width: 100%;
  padding: 20px;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  //   padding-top: 80px;

  @include respond(phone) {
    flex-direction: column-reverse;
  }
}

.single-team-title {
  @include respond(phone) {
    text-align: center;
  }
}

.single-team-team {
  border: 5px solid $color-white;
  border-radius: 18px;
  color: black;
  width: 1.6 * $default-cart-width;
  height: 1.6 * $default-cart-height;
  background-size: 100% 100%;
  text-align: center;
  position: relative;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include respond(tab-port) {
    width: 1.4 * $default-cart-width;
    height: 1.4 * $default-cart-height;
  }

  @include respond(phone) {
    width: 1.4 * $default-cart-width;
    height: 1.4 * $default-cart-height;
  }

  @include respond(small-phone) {
    width: 1.3 * $default-cart-width;
    height: 1.3 * $default-cart-height;
  }
  @include respond(slim-phone) {
    width: 1.1 * $default-cart-width;
    height: 1.1 * $default-cart-height;
  }

  @include respond(very-slim-phone) {
    width: 1 * $default-cart-width;
    height: 1 * $default-cart-height;
  }
}

.single-team-name {
  font-size: 60px;
  @include respond(tab-port) {
    font-size: 40px;
  }
  @include respond(small-phone) {
    font-size: 35px;
  }
  @include respond(slim-phone) {
    font-size: 30px;
  }
  @include respond(very-slim-phone) {
    font-size: 25px;
  }
  // background-image: url('../../data/UEFA-EURO-2020.png');
}

.back-info {
  @include respond(phone) {
    display: none;
  }
}

.back-icon {
  @media screen and (min-width: 40em) {
    display: none;
  }
}

.sub-main {
  width: 80%;
  max-width: $default-max-width - 10px;
  height: 100%;
  // border: 3px solid $color-white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  @include respond(phone) {
    width: 100%;
    margin-bottom: 0px;
  }
}

.sub-main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @include respond(phone) {
    justify-content: center;
  }

  align-items: center;
  font-size: 25px;

  :not(:last-child) {
    margin-right: 30px;
  }

  @include respond(small-phone) {
    font-size: 21px;
    :not(:last-child) {
      margin-right: 20px;
    }
  }

  @include respond(slim-phone) {
    font-size: 18px;
    :not(:last-child) {
      margin-right: 13px;
    }
  }

  @include respond(very-slim-phone) {
    font-size: 13px;
    :not(:last-child) {
      margin-right: 10px;
    }
  }
}

.sub-main-nav-element {
  border: 3px solid $color-primary;
  border-radius: 8px;
  padding: 2px 5px;
  cursor: pointer;

  &:hover {
    color: $color-white;
    border: 3px solid $color-white;
    background: $color-primary;
    transform: scale(1.1);
  }
}

.sub-main-nav-element-clicked {
  border: 3px solid $color-white;
  background: $color-primary;
  color: $color-white;
  transform: scale(1.1);
}

.major-none {
  display: none;
}

.sub-main-major {
  margin-top: 20px;
}

.standings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  width: 80%;
  margin: 12px auto 0px auto;
  padding: 5px;

  @include respond(phone) {
    font-size: 35px;
  }
  @include respond(small-phone) {
    font-size: 30px;
  }
  @include respond(slim-phone) {
    font-size: 25px;
  }
  @include respond(very-slim-phone) {
    font-size: 20px;
  }
  @include respond(tab-port) {
    width: 100%;
  }

  border: 3px solid $color-white;
  border-radius: 8px;
  background: $color-primary;
  color: $color-white;
}

.final-table {
  text-align: center;
  font-size: 40px;

  @include respond(phone) {
    font-size: 35px;
  }
  @include respond(small-phone) {
    font-size: 30px;
  }
  @include respond(slim-phone) {
    font-size: 25px;
  }
  @include respond(very-slim-phone) {
    font-size: 20px;
  }
}

.out {
  // color: rgb(97, 97, 97);
  // opacity: .7;
}

.outh {
  opacity: 0.7;
}

.winner {
  font-size: 60px;

  @include respond(phone) {
    font-size: 55px;
  }
  @include respond(small-phone) {
    font-size: 50px;
  }
  @include respond(slim-phone) {
    font-size: 45px;
  }
  @include respond(very-slim-phone) {
    font-size: 40px;
  }
}

.matches-container {
  // border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;

  @include respond(phone) {
    font-size: 35px;
  }
  @include respond(small-phone) {
    font-size: 30px;
  }
  @include respond(slim-phone) {
    font-size: 25px;
  }
  @include respond(very-slim-phone) {
    font-size: 20px;
  }
}

.match {
  background-color: $color-primary;
  color: $color-white;
  border: 3px solid $color-white;
  border-radius: 8px;

  padding: 5px;
  margin: 5px;
  margin-top: 8px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  @include respond(tab-port) {
    width: 100%;
  }
  @include respond(phone) {
    font-size: 25px;
  }
  @include respond(small-phone) {
    font-size: 20px;
  }
  @include respond(slim-phone) {
    font-size: 15px;
  }
  @include respond(very-slim-phone) {
    font-size: 12px;
  }
}

.penalties {
  font-size: 25px;
  @include respond(phone) {
    font-size: 20px;
  }
  @include respond(small-phone) {
    font-size: 20px;
  }
  @include respond(slim-phone) {
    font-size: 15px;
  }
  @include respond(very-slim-phone) {
    font-size: 12px;
  }
}

.stadium-info {
  font-size: 18px;
  @include respond(small-phone) {
    font-size: 15px;
  }
  @include respond(slim-phone) {
    font-size: 12px;
  }
  @include respond(very-slim-phone) {
    font-size: 9px;
  }
}

.arrow-none {
  display: none;
}

.arrow {
  font-size: 27px;
}

.underline {
  text-decoration: underline;
}

.none {
  display: none;
}
